/*------------------FONT-FAMILY-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
	font-family: 'Roboto', sans-serif;
}
/*------------------NAVBAR------------------*/
#navbar{
	background-color: #525252;
	height: 64px;
}
.navbar-brand img{
	height: 54px;
	width: 73px;
}
nav li{
	max-width: 100%;
	font-size: 17px;
}
nav li:hover, .blue-btn, .active{
	border: 1px solid rgba(255, 255, 255, 0.5); 
	border-radius: 20px;
	transition: 0.5 ease;
}
.blue-btn{
	background-color: #1d7a8c;
}
.blue-btn:hover{
	background-color: #fff;
	color: #1d7a8c;
	transition: 0.5 ease;
}
.blue-btn a:hover{
	color: #1d7a8c;
}
/*--------------Registrationform--------*/

.form{
	background-color: #ffffff;
	max-width: 430px;
	max-height: 664px;
}

.heading{
	color: #4f4f4f; 
	font-size: 24px; 
	font-weight: bold; 
}

.box{ 
	max-width: 359px;
	width: 100%; 
	border: 1px solid #c8c8c8; 
	margin-bottom: 15px; 
	height: 46px; 
	font-size: 16px;
	color: #a0a0a0;
	padding-left: 20px;
}

.box:hover, .phone:hover{
	border-color:#1fb6ff;
}

.phone{ 
	border: 1px solid #c8c8c8; 
	margin-bottom: 15px; 
	height: 46px; 
	font-size: 16px;
	color: #a0a0a0;
	padding-left: 20px;
	width: 313px;
}
.code{
	width: 46px; 
	height: 46px;
	font-size: 16px; 
	padding-top: 10px; 
	background-color: #c8c8c8; 
	color: #4f4f4f;
	border: 1px solid #c8c8c8;  }

#text-checkbox{ 
	color: #4f4f4f; 
	font-size: 16px; 
}

.colored-text{ 
	color: #1fb6ff; 
}
.getstart{ 
	color: #ffffff;
	width: 166px; 
	height: 46px; 
	border: 1px solid #1d7a8c; 
	background-color: #1d7a8c;
	border-radius: 23px;
}


/*------------------BACKGROUNDIMAGE-----------*/
.abouthome{
	max-width: 1560px;
    max-height: 368px;
    height: 100%;
    width: 100%;
}
/*-----------------FEW WORDS & OUR STORY-----------------*/
.main h3{
	color: #4f4f4f;
	font-size: 36px;
}
.separator-border{  
	width: 62px; 
	height: 1px; 
	background-color: #ccc;
}
.main p{
	color: #646464;
	font-size: 16px;
	width: 962px;
}
/*---------------NEWSLETTER---------------------*/
.newsletter h6{
	font-size: 18px;
	font-weight: bold; 
	color: #353548;
}
.email{
	border-radius: 20px; 
	font-size: 14px; 
	color: #565656; 
	padding: 0px 70px 0px 20px;
	border: 1px solid #565656;
	background: #f4f5f8;
	width: 233px;
	height: 40px;
}
.submit{
	color: #ffffff;
	padding: 10px 20px; 
	background: #ff7b6d; 
	border-radius: 20px; 
	font-size: 14px;
	width: 88px;
	height: 40px;
}
/*----------------FOOTER-------------------------*/
.footer{
	background: #111111;
}
ul li{
	list-style: none; 
	color: #f1f1f1; 
	font-size: 14px;
}
ul li a{ 
	text-decoration: none; 
	color: #f1f1f1; 
}
.footer a:hover{
	color: #f1f1f1;
}
.footer-line{ 
	border: 1px solid; 
	background-color: #424242; 
	width: 85%; 
}
.footer-privacy{
	color: #9ba0a3;
	font-size: 14px;
}
