@model Helperland.Models.User;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="~/css/create-accountStyle.css">
        <link rel="stylesheet" type="text/css" href="~/css/styles.css">
        <title>Create account | Helperland</title>
        <!-----------------BOOTSTRAP------------------->
        
    </head>
    <body>
        <!------------------NAVBAR------------------>
        <header>
            <section id="navbar">
                <nav class="navbar navbar-expand-lg navbar-light bg-transparent main-navigation">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                            <img class="pb-2" src="~/images/smallhomelogo.png">
                        </a>
                        <button class="navbar-toggler" type="button">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="overlay d-flex d-lg-none"></div>
                        <div class="d-lg-flex w-100 pb-3 pb-lg-0 sidebar" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto pb-3">
                                <li class="blue-btn nav-item text-center ms-xl-2">
                                    <a class="nav-link text-light px-3" aria-current="page" href="#">Book a cleaner</a>
                                </li>
                                <li class="nav-item text-center ms-xl-2 ">
                                    <a class="nav-link text-light px-3" aria-current="page" asp-controller="Home" asp-action="Price">Prices & Services</a>
                                </li>
                                <li class="nav-item text-center ms-xl-2">
                                    <a class="nav-link text-light px-3" aria-current="page" href="#">Warranty</a>
                                </li>
                                <li class="nav-item text-center ms-xl-2">
                                    <a class="nav-link text-light px-3" aria-current="page" href="#">Blog</a>
                                </li>
                                <li class="nav-item text-center ms-xl-2">
                                    <a class="nav-link text-light px-3" aria-current="page" asp-controller="Home" asp-action="Contact">Contact Us</a>
                                </li>
                                <li class="blue-btn nav-item text-center ms-xl-2">
                                    <a class="nav-link text-light px-4" aria-current="page" data-bs-toggle="modal" href="#exampleModalToggle">Login</a>

                                </li>
                                <li class="blue-btn nav-item text-center ms-xl-2 ">
                                    <a class=" nav-link text-light px-3" aria-current="page" asp-controller="Home" asp-action="serviceproviderSignup">Become a Helper</a>
                                </li>
                                <li><hr class="dropdown-divider divider d-lg-none" style="color: #646464; height: 2px;"></li>
                                <li class="divider d-lg-none mt-3"><img src="~/images/fb.png" class="mx-5"><img src="~/images/ig.png"></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </section>
        </header>
        @Html.Partial("_login")
        <!--------------------CREATE-ACCOUNT---------------->
        <div class="create-account pt-5">
            <div class="form1 container-fluid text-center mt-3">
                <h2 class="modal-title text-center" id="exampleModalToggleLabel">Create an account</h2>
                <div class="d-flex text-center align-items-center justify-content-center pt-3 pb-3">
                    <div class="separator-border me-2"></div>
                    <img src="~/images/separator.png">
                    <div class="separator-border ms-2"></div>
                </div>
                @using (Html.BeginForm("CreateAccount", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <form asp-action="CreateAccount" method="post">
                        <div class="row align-items-center justify-content-center g-3 mb-3 mx-md-0 mx-3">
                            <div class="col-md-4">
                                <input type="text" class="form-control name" id="firstName" placeholder="First Name" asp-for="FirstName" required>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control name" id="lastName" placeholder="Last Name" asp-for="LastName" required>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-center g-3 mb-3 mx-md-0 mx-3">
                            <div class="col-md-4">
                                <input asp-for="Email" type="email" class="name form-control" id="email" placeholder="Email" required />
                            </div>
                            <div class="col-md-4">
                                <input asp-for="Mobile" type="tel" class="name form-control" id="phone" placeholder="Phonenumber" required />
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-center g-3 mb-3 mx-md-0 mx-3">
                            <div class="col-md-4">
                                <input type="password" class="form-control name" placeholder="Password" asp-for="Password" required>
                            </div>
                            <div class="col-md-4">
                                <input type="password" class="form-control name" placeholder="Confirm Password" asp-for="ConfirmPassword" required>
                            </div>
                            <div class="row mt-3 mx-md-0 mx-3">
                                <div class="check-box mb-2 text-center mx-auto col-md-8" style="color: #646464">
                                    <label>
                                        <input type="checkbox" required>
                                        I have read the <span><a href="">privacy policy</a></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button class="register mb-3 px-3 py-2">Register</button>
                        <div class="form-group text-center">
                            <p class="pb-5">Already registered?<span><a href="" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal"> Login now</a></span></p>
                        </div>
                    </form>
                }

                </div>
        </div>

        <!-----------------FOOTER------------------------->
        <section class="footer">
            <div class="d-flex flex-lg-row flex-column justify-content-between align-items-center">
                <img class="footerlogo mx-lg-5 mt-4 mb-lg-3 ps-lg-3" src="~/images/footerlogo.png">
                <ul class="d-flex flex-lg-row flex-column align-items-center gap-lg-4 mt-lg-3 mt-5 me-4 mb-4">
                    <li class="mb-lg-0 mb-2">
                        <a href="Homepage.html">HOME</a>
                    </li>
                    <li class="mb-lg-0 mb-2">
                        <a asp-controller="Home" asp-action="About">ABOUT</a>
                    </li>
                    <li class="mb-lg-0 mb-2">TESTIMONIALS</li>
                    <li class="mb-lg-0 mb-2">
                        <a asp-controller="Home" asp-action="faqs">FAQS</a>
                    </li>
                    <li class="mb-lg-0 mb-2">INSURANCE POLICY</li>
                    <li>IMPRESSIUM</li>
                </ul>
                <div class="socials mx-lg-5 mt-lg-3 mb-3 mt-4 pe-xl-5">
                    <img class="me-3" src="~/images/fb.png">
                    <img src="~/images/ig.png">
                </div>
            </div>
            <div class="d-flex flex-column text-center align-items-center justify-content-center">
                <div class="footer-line"></div>
                <div class="footer-privacy py-3">©2018 Helperland. All rights reserved.     Terms and Conditions  |  Privacy Policy</div>
            </div>
        </section>
        <div onclick="topFunction()" id="myBtn" title="Go to top"><img class="scroll ms-5" src="~/images/up.png"></div>
        <script src="~/js/mobilemenu.js"></script>
        <script src="~/js/script.js"></script>
    </body>
</html>
}
