@model Helperland.Models.User;
@{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="~/css/create-accountStyle.css">
        <link rel="stylesheet" type="text/css" href="~/css/styles.css">
        <title>Create account | Helperland</title>
        <!-----------------BOOTSTRAP------------------->

    </head>
    <body>
        <!------------------NAVBAR------------------>
        @Html.Partial("_header")
        @Html.Partial("_login")
        <!--------------------CREATE-ACCOUNT---------------->
        <div class="create-account pt-5">
            <div class="form1 container-fluid text-center mt-3">
                <h2 class="modal-title text-center" id="exampleModalToggleLabel">Create an account</h2>
                <div class="d-flex text-center align-items-center justify-content-center pt-3 pb-3">
                    <div class="separator-border me-2"></div>
                    <img src="~/images/separator.png">
                    <div class="separator-border ms-2"></div>
                </div>
                @using (Html.BeginForm("CreateAccount", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <form asp-action="CreateAccount" method="post">
                        <div class="row align-items-center justify-content-center g-3 mb-3 mx-md-0 mx-3">
                            <div class="col-md-6">
                                <input type="text" class="form-control name" id="firstName" placeholder="First Name" asp-for="FirstName">
                                <span class="text-danger" asp-validation-for="FirstName"></span>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control name" id="lastName" placeholder="Last Name" asp-for="LastName">
                                <span class="text-danger" asp-validation-for="LastName"></span>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-center g-3 mb-3 mx-md-0 mx-3">
                            <div class="col-md-6">
                                <input asp-for="Email" type="email" class="name form-control" id="email" placeholder="Email">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Mobile" type="tel" class="name form-control" id="phone" placeholder="Phonenumber">
                                <span class="text-danger" asp-validation-for="Mobile"></span>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-center g-3 mb-3 mx-md-0 mx-3">
                            <div class="col-md-6">
                                <input type="password" class="form-control name" placeholder="Password" asp-for="Password">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="col-md-6">
                                <input type="password" class="form-control name" placeholder="Confirm Password" asp-for="ConfirmPassword">
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div class="row mt-3 mx-md-0 mx-3">
                                <div class="check-box mb-2 text-center mx-auto col-md-8" style="color: #646464">
                                    <label>
                                        <input type="checkbox" required>
                                        I have read the <span><a href="">privacy policy</a></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="text-success mb-3">@ViewBag.Msg</div>
                        <button class="register mb-3 px-3 py-2">Register</button>
                        <div class="form-group text-center">
                            <p class="pb-5">Already registered?<span><a href="" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal"> Login now</a></span></p>
                        </div>
                    </form>
                }

            </div>
        </div>

        <!-----------------FOOTER------------------------->
        @Html.Partial("_footer")
        <div onclick="topFunction()" id="myBtn" title="Go to top"><img class="scroll ms-5" src="~/images/up.png"></div>
        <script src="~/js/mobilemenu.js"></script>
        <script src="~/js/script.js"></script>

    </body>
</html>
}
