<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"href="~/css/book-a-serviceStyle.css">
    <link rel="stylesheet" type="text/css"href="~/css/service-historyStyle.css">
    <link rel="stylesheet" type="text/css"href="~/css/styles.css">
    <title>Customer Pages</title>
    <!--------------Bootstrap------------------>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <!------------Navbar-------------->
    <header>
        <section id="navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent main-navigation">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                        <img class="pb-2" src="~/images/smallhomelogo.png">
                    </a>
                    <img class="mx-lg-2 mb-2 d-lg-none" src="~/images/notification.png">
                    <button class="navbar-toggler" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="overlay d-flex d-lg-none"></div>
                    <div class="d-lg-flex w-100 pb-3 pb-lg-0 sidebar" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto pb-3">
                            <div class="d-lg-none px-3 pt-3" style="color:#4f4f4f;">Warm welcome,<div class="fw-bold">Customer</div></div>
                            <li><hr class="dropdown-divider divider d-lg-none" style="color: #646464; height: 2px;"></li>
                            <ul class="nav nav-pills flex-column d-lg-none mobo-menu">
                                <li class="nav-item">
                                    <a class="nav-link px-3" data-toggle="pill" href="#overview">Overview</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3" data-toggle="pill" href="#css">Completed Service Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3" data-toggle="pill" href="#cview">Calender View</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3" data-toggle="pill" href="#favpros">Favourite Pros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3" data-toggle="pill" href="#invoices">Invoices</a>
                                </li>
                            </ul>
                            <li class="nav-item text-center ms-xl-2 d-lg-none">
                                <a class="nav-link px-3" data-toggle="pill" href="#mysettings">My Setting</a>
                            </li>
                            <li class="nav-item text-center ms-xl-2 d-lg-none">
                                <a class="nav-link text-light px-3" aria-current="page" href="#">Logout</a>
                            </li>
                            <li><hr class="dropdown-divider divider d-lg-none" style="color: #646464; height: 2px;"></li>
                            <li class="blue-btn nav-item text-center ms-xl-2">
                                <a class="nav-link text-light px-3" aria-current="page" asp-action="BookService" asp-controller="Home">Book a cleaner</a>
                            </li>
                            <li class="nav-item text-center ms-xl-2 ">
                                <a class="nav-link text-light px-3" aria-current="page" asp-action="Price" asp-controller="Home">Prices & Services</a>
                            </li>
                            <li class="nav-item text-center ms-xl-2">
                                <a class="nav-link text-light px-3" aria-current="page" href="#">Warranty</a>
                            </li>
                            <li class="nav-item text-center ms-xl-2">
                                <a class="nav-link text-light px-3" aria-current="page" href="#">Blog</a>
                            </li>
                            <li class="nav-item text-center active ms-xl-2">
                                <a class="nav-link text-light ps-3" aria-current="page" asp-action="Contact" asp-controller="Home">Contact Us</a>
                            </li>
                            <li><hr class="dropdown-divider divider d-lg-none" style="color: #646464; height: 2px;"></li>
                            <li class="divider d-lg-none mt-3"><img src="~/images/fb.png" class="mx-5"><img src="~/images/ig.png"></li>
                        </ul>
                    </div>
                </div>
                <div class="vertical-line mx-2 mb-2 d-lg-block d-none"></div>
                <img class="mx-lg-2 mb-2 d-lg-block d-none" src="~/images/notification.png">
                <div class="vertical-line mx-2 mb-2 d-lg-block d-none"></div>
                <div class="dropdown d-lg-block d-none">
                    <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="me-5 mb-2 pe-5 px-2" src="~/images/profile.png">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item bg-transparent" href="#">Welcome <br><div class="fw-bold">Gaurang!</div> </a>
                        </li>
                        <li> <hr class="dropdown-divider"> </li>

                        <div class="nav flex-column nav-pills me-3 profile-dropdown" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                            <a style="text-decoration: none;" class="ps-3" asp-action="CustomerPages" asp-controller="Home">Dashboard</a>

                            <a class="nav-link" id="v-pills-mysettings-tab" data-toggle="pill" href="#mysettings" role="tab" aria-controls="v-pills-css" aria-selected="false">My Settings</a>

                            <a style="text-decoration: none;" class="ps-3" asp-action="Index" asp-controller="Home">Logout</a>
                        </div>
                    </div>
                </div>
            </nav>
        </section>
    </header>
    <!----------------Welcome------------->
    <section class="welcome" style="padding: 100px 0 20px 0;">
        <div class="d-flex text-center align-items-center justify-content-center">
            <p id="welcome">Welcome, <span class="fw-bold"> Gaurang!</span></p>
        </div>
    </section>
    <!----------------Mainbody-------------->
    <div class="row px-5" style="padding-top: 50px;">
        <div class="col-lg-3 d-lg-block d-none">
            <div class="sidemenu mb-5">
                <div class="nav flex-column nav-pills bg-transparent" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    <a class="nav-link active" id="v-pills-Overview-tab" data-toggle="pill" href="#overview" role="tab" aria-controls="v-pills-overview" aria-selected="true">Dashboard</a>

                    <a class="nav-link" id="v-pills-css-tab" data-toggle="pill" href="#css" role="tab" aria-controls="v-pills-css" aria-selected="false">Service History</a>

                    <a class="nav-link" id="v-pills-cview-tab" data-toggle="pill" href="#cview" role="tab" aria-controls="v-pills-cview" aria-selected="false">Service Schedule</a>

                    <a class="nav-link" id="v-pills-favpros-tab" data-toggle="pill" href="#favpros" role="tab" aria-controls="v-pills-favpros" aria-selected="false">Favourite Pros</a>

                    <a class="nav-link" id="v-pills-invoices-tab" data-toggle="pill" href="#invoices" role="tab" aria-controls="v-pills-invoices" aria-selected="false">Invoices</a>

                    <a class="nav-link" id="v-pills-notifications-tab" data-toggle="pill" href="#notifications" role="tab" aria-controls="v-pills-notifications" aria-selected="false">Notifications</a>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-12">

            <div class="tab-content" id="v-pills-tabContent">

                <div class="tab-pane fade" id="mysettings" role="tabpanel" aria-labelledby="v-pills-mysettings-tab">
                    @Html.Partial("Mysettings")
                </div>

                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="v-pills-overview-tab">
                    <div class="col">
                        <div class="tableabove navbar d-flex align-items-center">
                            <div class="d-flex align-items-center"><p class="text1 fw-bold">Current Service Requests</p></div>
                            <div class="d-flex align-items-center">
                                <p class="button text-center">
                                    <a href="book-a-service.html" class="px-3">Add new service request</a>
                                </p>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Service Id<img class="ms-2" src="~/images/arrows.png"></th>
                                    <th>Service Details<img class="ms-2" src="~/images/arrows.png"></th>
                                    <th>Service Provider<img class="ms-2" src="~/images/arrows.png"></th>
                                    <th>Payment<img class="ms-2" src="~/images/arrows.png"></th>
                                    <th class="ps-5">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><button type="button" class="btn" data-toggle="modal" data-target="#myModal2">8470</button></td>
                                    <td class="cs" id="cs" type="button" class="btn" data-toggle="modal" data-target="#myModal2">
                                        <div class="fw-bold"><img class="me-2" src="~/images/calender.png">31/03/2018 </div>
                                        <div class="ms-lg-0 ms-5">12:00 - 18:00</div>
                                    </td>
                                    <td></td>
                                    <td class="price">€<span class="fw-bold">63</span></td>
                                    <td>
                                        <button type="button" class="button mt-md-3 mt-2 px-3" data-toggle="modal" data-target="#exampleModal">
                                            Reschedule
                                        </button>
                                        <button type="button" class="button mt-md-3 mt-2 px-3" data-toggle="modal" data-target="#exampleModal1" id="cancel">Cancel</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><button type="button" class="btn" data-toggle="modal" data-target="#myModal2">8470</button></td>
                                    <td class="cs" id="cs" type="button" class="btn" data-toggle="modal" data-target="#myModal2">
                                        <div class="details fw-bold"><img class="me-2" src="~/images/calender.png">28/02/2018  </div>
                                        <div class="ms-lg-0 ms-5">12:00 - 18:00</div>
                                    </td>
                                    <td class="cs">
                                        <img class="hat me-2" src="~/images/hat.png"><span>Lyum Watson</span>
                                        <div class="star-rating">
                                            <input id="star-5" type="radio" name="rating" value="star-5" />
                                            <label for="star-5" title="5 stars">
                                                <i class="active fa fa-star" aria-hidden="true"></i>
                                            </label>
                                            <input id="star-4" type="radio" name="rating" value="star-4" />
                                            <label for="star-4" title="4 stars">
                                                <i class="active fa fa-star" aria-hidden="true"></i>
                                            </label>
                                            <input id="star-3" type="radio" name="rating" value="star-3" />
                                            <label for="star-3" title="3 stars">
                                                <i class="active fa fa-star" aria-hidden="true"></i>
                                            </label>
                                            <input id="star-2" type="radio" name="rating" value="star-2" />
                                            <label for="star-2" title="2 stars">
                                                <i class="active fa fa-star" aria-hidden="true"></i>
                                            </label>
                                            <input id="star-1" type="radio" name="rating" value="star-1" />
                                            <label for="star-1" title="1 star">
                                                <i class="active fa fa-star" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="price">€<span class="fw-bold">63</span></td>
                                    <td>
                                        <button type="button" class="button mt-md-3 mt-2 px-3" data-toggle="modal" data-target="#exampleModal">
                                            Reschedule
                                        </button>
                                        <button type="button" class="button mt-md-3 mt-2 px-3" data-toggle="modal" data-target="#exampleModal1" id="cancel">Cancel</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="tablebelow navbar d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <!-------------------------entries------------------>
                                <p class="left">
                                    Show <span class="p-0">
                                        <select class="entries table-dropdown" name="table-rows" id="table-rows">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </span> Entries
                                </p>
                            </div>
                            <div class="d-flex align-items-center pb-2 gap-3 pe-3">
                                <!---------------------pagination----------------->
                                <nav aria-label="Page navigation example ">
                                    <ul class="pagination pagination-circle pagination-sm">
                                        <li class="page-item"><a class="page-link" href="#"><img src="~/images/group-36.png"></a></li>
                                        <li class="page-item"><a class="page-link" href="#"><img src="~/images/keyboard-arrow.png"></a></li>
                                        <li class="page-item"><a class="page-link circle circle-md border" href="#"><span>1</span></a></li>
                                        <li class="page-item"><a class="page-link circle circle-md" href="#"><span>2</span></a></li>
                                        <li class="page-item"><a class="page-link circle circle-md" href="#"><span>3</span></a></li>
                                        <li class="page-item"><a class="page-link" href="#"><img class="right" src="~/images/keyboard-arrow.png"></a></li>
                                        <li class="page-item"><a class="page-link" href="#"><img class="right" src="~/images/group-36.png"></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="css" role="tabpanel" aria-labelledby="v-pills-css-tab">
                    <div class="col">
                        <div class="tableabove navbar d-flex align-items-center">
                            <div class="d-flex align-items-center"><p class="text1 fw-bold">Service History</p></div>
                            <div class="d-flex align-items-center">
                                <p class="button text-center">
                                    <a href="" class="px-3">Export</a>
                                </p>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Service Id<img class="ms-2" src="~/images/arrows.png"></th>
                                    <th>Service Details<img class="ms-2" src="~/images/arrows.png"></th>
                                    <th>Service Provider<img class="ms-2" src="~/images/arrows.png"></th>
                                    <th>Payment<img class="ms-2" src="~/images/arrows.png"></th>
                                    <th>Status<img class="ms-2" src="~/images/arrows.png"></th>
                                    <th>Rate SP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><button type="button" class="btn" data-toggle="modal" data-target="#myModal">8470</button></td>
                                    <td class="cs btn" id="cs" type="button" data-toggle="modal" data-target="#myModal">
                                        <div class="details fw-bold"><img class="me-2" src="~/images/calender.png">10/03/2018  </div>
                                        <div class="ms-lg-0 ms-5">12:00 - 18:00</div>
                                    </td>
                                    <td class="cs">
                                        <img class="hat me-2" src="~/images/hat.png"><span>Lyum Watson</span>
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                    </td>
                                    <td class="price">€<span class="fw-bold">63</span></td>
                                    <td><button class="complete mt-md-3 mt-2">Completed</button></td>
                                    <td><button class="Rate mt-2"><a href="#">Rate SP</a></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="tablebelow navbar d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <!-------------------------entries------------------>
                                <p class="left">
                                    Show <span class="p-0">
                                        <select class="entries table-dropdown" name="table-rows" id="table-rows">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </span> Entries
                                </p>
                            </div>
                            <div class="d-flex align-items-center pb-2 gap-3 pe-3">
                                <!---------------------pagination----------------->
                                <nav aria-label="Page navigation example ">
                                    <ul class="pagination pagination-circle pagination-sm">
                                        <li class="page-item"><a class="page-link" href="#"><img src="~/images/group-36.png"></a></li>
                                        <li class="page-item"><a class="page-link" href="#"><img src="~/images/keyboard-arrow.png"></a></li>
                                        <li class="page-item"><a class="page-link circle circle-md border" href="#"><span>1</span></a></li>
                                        <li class="page-item"><a class="page-link circle circle-md" href="#"><span>2</span></a></li>
                                        <li class="page-item"><a class="page-link circle circle-md" href="#"><span>3</span></a></li>
                                        <li class="page-item"><a class="page-link" href="#"><img class="right" src="~/images/keyboard-arrow.png"></a></li>
                                        <li class="page-item"><a class="page-link" href="#"><img class="right" src="~/images/group-36.png"></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="cview" role="tabpanel" aria-labelledby="v-pills-cview-tab">
                    <div class="row border g-0 rounded shadow-sm">
                        <div class="col p-4">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="favpros" role="tabpanel" aria-labelledby="v-pills-favpros-tab">
                    <div class="col ps-3">
                        <div class="fav-pros d-flex flex-sm-row flex-column align-items-center mb-5 gap-4">
                            <div class="first d-flex flex-column align-items-center px-sm-5 px-3 py-3">
                                <img class="avatar-car pb-2" src="~/images/avatar-car.png">
                                <p>Kavan Patel</p>
                                <div class="pb-2">
                                    <img class="ms-5" src="~/images/wstar.png">
                                    <img src="~/images/wstar.png">
                                    <img src="~/images/wstar.png">
                                    <img src="~/images/wstar.png">
                                    <img class="me-2" src="~/images/wstar.png">0
                                </div>
                                <p>0 Cleanings</p>
                                <div>
                                    <button class="button px-3 me-2">Remove</button><span>
                                        <button class="button px-3" id="cancel">Block</button>
                                    </span>
                                </div>
                            </div>
                            <div class="first d-flex flex-column align-items-center px-sm-5 px-3 py-3">
                                <img class="avatar-hat pb-2" src="~/images/avatar-hat.png">
                                <p>Sandip Patel</p>
                                <div class="pb-2">
                                    <img class="ms-5" src="~/images/ystar.png">
                                    <img src="~/images/ystar.png">
                                    <img src="~/images/ystar.png">
                                    <img src="~/images/ystar.png">
                                    <img class="me-2" src="~/images/wstar.png">4
                                </div>
                                <p>16 Cleanings</p>
                                <div>
                                    <button class="button px-3 me-2">Remove</button><span>
                                        <button class="button px-3" id="cancel">Block</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="tablebelow navbar d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <!-------------------------entries------------------>
                                <p class="left">
                                    Show <span class="p-0">
                                        <select class="entries table-dropdown" name="table-rows" id="table-rows">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </span> entries Total records:2
                                </p>
                            </div>
                            <div class="d-flex align-items-center pb-2 gap-3 pe-3">
                                <!---------------------pagination----------------->
                                <nav aria-label="Page navigation example ">
                                    <ul class="pagination pagination-circle pagination-sm">
                                        <li class="page-item"><a class="page-link" href="#"><img src="~/images/group-36.png"></a></li>
                                        <li class="page-item"><a class="page-link" href="#"><img src="~/images/keyboard-arrow.png"></a></li>
                                        <li class="page-item"><a class="page-link circle circle-md border" href="#"><span>1</span></a></li>
                                        <li class="page-item"><a class="page-link" href="#"><img class="right" src="~/images/keyboard-arrow.png"></a></li>
                                        <li class="page-item"><a class="page-link" href="#"><img class="right" src="~/images/group-36.png"></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="invoices" role="tabpanel" aria-labelledby="v-pills-invoices-tab">
                    <div class="row border g-0 rounded shadow-sm">
                        <div class="col p-4">

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="v-pills-notifications-tab">
                    <div class="row border g-0 rounded shadow-sm">
                        <div class="col p-4">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!---------RescheduleModal----------->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalToggleLabel">Reschedule Service Request</h2>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="pb-1">Select New Date & Time</p>
                    <div class="mb-2">
                        <input class="me-2 calender" type="date" id="start" name="trip-start"
                               value="2022-01-01" min="2022-01-01" max="2022-12-31">
                        <input class="time" type="time" id="appt" name="appt" value="08:00" min="09:00" max="18:00" required>
                    </div>
                    <button type="submit" class="login mb-4 mt-3 ms-5">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!---------CancelModal----------->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalToggleLabel">Cancel Service Request</h2>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="pb-1">Why you want to cancel the service request?</p>
                    <textarea rows="4" cols="50"></textarea>
                    <button type="submit" class="login mb-4 mt-3 ms-5">Cancel Now</button>
                </div>
            </div>
        </div>
    </div>
    <!----------EditAddress--------------->
    <div class="modal fade" id="editaddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel11" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered address">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Address</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body editaddress">
                    <div class="row">
                        <div class="col-md-6 col-12 mb-2">
                            <label>Street Name</label>
                            <div><input type="text" name="streetname" class="px-2"></div>
                        </div>
                        <div class="col-md-6 col-12 mb-2">
                            <label>House Number</label>
                            <div><input type="text" name="housenumber" class="px-2"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-2">
                            <label>Postal Code</label>
                            <div><input type="text" name="postalcode" class="px-2"></div>
                        </div>
                        <div class="col-md-6 col-12 mb-2">
                            <label>City</label>
                            <div><input type="text" name="city" class="px-2"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-2">
                            <label>Mobile Number</label>
                            <div class="input-group mb-3 mobile">
                                <div class="input-group-prepend">
                                    <span class="input-group-text py-2" id="basic-addon1">+91</span>
                                </div>
                                <input type="tel" class="form-control py-2" aria-label="Phone Number" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mb-2">
                        </div>
                    </div>
                    <button class="login mb-4 mt-3 ms-5">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <!---------ServiceHistory-------------->
    <div class="modal fade px-5" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Service Details</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-row"><h6>Duration : </h6><span class="ps-2">hours</span></div>
                    <div class="d-flex flex-row"><h6>Service-ID : </h6></div>
                    <div class="d-flex flex-row"><h6>Extras : </h6><span class="ps-2">Cleaning cupboard interiors, cleaning the refridgerator</span></div>
                    <div class="d-flex flex-row"><h6>Total payment : </h6><span class="price fw-bold ps-5">  0.00 €</span></div>
                    <hr>
                    <div class="d-flex flex-row"><h6>Address : </h6><span class="ps-2">123</span></div>
                    <div class="d-flex flex-row"><h6>Billing address : </h6><span class="ps-2">Same as address</span></div>
                    <div class="d-flex flex-row"><h6>Phone : </h6><span class="ps-2">+49 1232123454</span></div>
                    <div class="d-flex flex-row"><h6>E-Mail : </h6><span class="ps-2">a@gmail.com</span></div>

                    <hr>
                    <h6>Do you want to tell your helper something?</h6>
                    <div>I keep Pets</div>
                </div>
            </div>
        </div>
    </div>
    <!--------------CurrentBooking--------------->
    <div class="modal fade px-5" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Service Details</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-row"><h6>Duration : </h6><span class="ps-2">hours</span></div>
                    <div class="d-flex flex-row"><h6>Service-ID : </h6></div>
                    <div class="d-flex flex-row"><h6>Extras : </h6><span class="ps-2">Cleaning cupboard interiors, cleaning the refridgerator</span></div>
                    <div class="d-flex flex-row"><h6>Total payment : </h6><span class="price fw-bold ps-5">  0.00 €</span></div>
                    <hr>
                    <div class="d-flex flex-row"><h6>Address : </h6><span class="ps-2">123</span></div>
                    <div class="d-flex flex-row"><h6>Billing address : </h6><span class="ps-2">Same as address</span></div>
                    <div class="d-flex flex-row"><h6>Phone : </h6><span class="ps-2">+49 1232123454</span></div>
                    <div class="d-flex flex-row"><h6>E-Mail : </h6><span class="ps-2">a@gmail.com</span></div>

                    <hr>
                    <h6>Do you want to tell your helper something?</h6>
                    <div>I keep Pets</div>
                    <button type="button" class="button mt-md-3 mt-2 px-3" data-toggle="modal"
                            data-target="#exampleModal" id="Reschedule" data-dismiss="modal">
                        Reschedule
                    </button>
                    <button type="button" class="button mt-md-3 mt-2 px-3" data-toggle="modal"
                            data-target="#exampleModal1" id="cancel" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!---------------footer--------------------->
    <section class="footer">
        <div class="d-flex flex-lg-row flex-column justify-content-between align-items-center">
            <img class="footerlogo mx-lg-5 mt-4 mb-lg-3 ps-lg-3" src="~/images/logo1.png">
            <ul class="d-flex flex-lg-row flex-column align-items-center gap-lg-4 mt-lg-3 mt-5 me-4 mb-4">
                <li class="mb-lg-0 mb-2">
                    <a href="Homepage.html">HOME</a>
                </li>
                <li class="mb-lg-0 mb-2">
                    <a href="about.html">ABOUT</a>
                </li>
                <li class="mb-lg-0 mb-2">TESTIMONIALS</li>
                <li class="mb-lg-0 mb-2">
                    <a href="faqs.html">FAQS</a>
                </li>
                <li class="mb-lg-0 mb-2">INSURANCE POLICY</li>
                <li>IMPRESSIUM</li>
            </ul>
            <div class="socials mx-lg-5 mt-lg-3 mb-3 mt-4 pe-xl-5">
                <img class="me-3" src="~/images/fb.png">
                <img src="~/images/ig.png">
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="footer-line"></div>
            <div class="footer-privacy py-3">©2018 Helperland. All rights reserved.Terms and Conditions  |  Privacy Policy</div>
        </div>
    </section>

    <div onclick="topFunction()" id="myBtn" title="Go to top"><img class="scroll ms-5" src="~/images/up.png"></div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src=”https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js”></script>
    <script src=”https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js”></script>
    <script src="app.js"></script>
    <script src="~/js/mobilemenu.js"></script>
    <script src="~/js/script.js"></script>
    <script type="text/javascript">
        window.addEventListener("scroll", function () {
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        });

        $(document).on('click', '#v-pills-address-tab',function () {
                $("#address").html("Loading Addresses...")
            .load('@Url.Action("address", "Home")');
            });

        $(document).on("click", "#save", function () {
        var password = $("#password").val();
        console.log(password);
        $.ajax({
            url: '@Url.Action("password", "Home")',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(password),
            success: function (res) {
                console.log(res);
                if (res == true) {
                    console.log("true");
                }
                else if (res == false) {
                    alert("Something went wrong while updating password");
                }
            },
            error: function(err) {
                console.log('error in ajax');
            }
        });
    });

    $(document).on("click", "#save-details", function () {
        var u = {};
        u.FirstName = $("#fname").val();
        u.LastName = $("#lname").val();
        u.Mobile = $("#mobile").val();
        u.LanguageID = $("#language").val();
    console.log(password);
        $.ajax({
            url: '@Url.Action("mydetails", "Home")',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(u),
            success: function (res) {
                console.log(res);
                if (res == true) {
                    console.log("true");
                }
                else if (res == false) {
                    alert("Something went wrong while updating password");
                }
            },
            error: function(err) {
                console.log('error in ajax');
            }
        });
    });
    </script>


</body>
</html>