@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="~/css/faqsStyle.css">
        <link rel="stylesheet" type="text/css" href="~/css/styles.css">
        <link href="~/css/faqsStyle.css" rel="stylesheet" />

        <title>FAQS | Helperland</title>
        <!-----------------BOOTSTRAP------------------->
     </head>
    <body>
        <!------------------NAVBAR------------------>
        @Html.Partial("_header")
        @Html.Partial("_login")
        <!------------------BACKGROUNDIMAGE----------->
        <img class="pt-5 image-fluid faqshome" src="~/images/faq-banner.png">

        <!------------------FAQS-CONTENT--------------->
        <section class="faqs-content mt-4 mb-4">
            <div class=" d-flex flex-column text-center align-items-center justify-content-center">
                <h3 class="fw-medium">FAQS</h3>
                <div class="d-flex text-center align-items-center justify-content-center pb-3">
                    <div class="separator-border me-2"></div>
                    <img src="~/images/separator.png">
                    <div class="separator-border ms-2"></div>
                </div>
                <p class="faqs-below px-2">
                    Whether you are Customer or Service provider,
                    We have tried our best to solve all your queries and questions.
                </p>
                <!------------------TABS-NAV----------------------->
                <ul class="nav nav-tabs flex-sm-row flex-column nav-justified my-3 bottom-border tabs mx-lg-0 mx-3">
                    <li class="for-customer nav-item ">
                        <a class="nav-link " data-bs-toggle="tab" href="#fc">FOR CUSTOMER</a>
                    </li>
                    <li class="for-serviceprovider nav-item ">
                        <a class="nav-link" data-bs-toggle="tab" href="#fsp">FOR SERVICE PROVIDER</a>
                    </li>
                </ul>
            </div>
            <!----------------TABS-CONTENT------------------->
            <div class="tab-content mb-5 mt-3 mx-lg-0 mx-3">
                <div class="tab-pane tab1 active" id="fc">
                    <div class="col">
                        <p class="fw-bold ">
                            <a class="fc fw-bold " data-bs-toggle="collapse" href="#fc1" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <img class="me-2" src="~/images/faqs-rightpoint.png">
                            </a>
                            What is included in basic cleaning?
                        </p>
                        <div class="collapse mb-3" id="fc1">
                            Living room, bedroom and bathroom, kitchen and common rooms
                        </div>
                        <p class="fw-bold">
                            <a class="fc fw-bold" data-bs-toggle="collapse" href="#fc2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <img class="me-2" src="~/images/faqs-rightpoint.png">
                            </a>
                            Which helper comes to me?
                        </p>
                        <div class="collapse mb-3" id="fc2">
                            Helperland has an extensive network of experienced cleaning staff. Depending on the location, date and duration, we will try to assign you the best available helper. If a cleaner accepts your order, you will receive an email with the profile of the helper. If you use our service more often, you can save a cleaner as a favorite. For future bookings, your favorite will be requested first.
                        </div>
                        <p class="fw-bold">
                            <a class="fc fw-bold" data-bs-toggle="collapse" href="#fc3" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <img class="me-2" src="~/images/faqs-rightpoint.png">
                            </a>
                            Can I skip or move bookings?
                        </p>
                        <div class="collapse mb-3" id="fc3">
                            You can change a booking free of charge 48 hours before an assignment. If you want to skip an assignment that has already been booked, we will credit your account with the value of the booking. You can use the credit for a future booking.
                        </div>

                        <p class="fw-bold">
                            <a class="fc fw-bold" data-bs-toggle="collapse" href="#fc4" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <img class="me-2" src="~/images/faqs-rightpoint.png">
                            </a>
                            Do I have to at home while cleaning?
                        </p>
                        <div class="collapse mb-3" id="fc4">
                            We recommend that you be at home the first time you clean it. In this way you get to know your helper personally. You can also show him the rooms and respond to your wishes. Of course, you can make an appointment or place to hand over the keys with your helper. With frequent bookings, some customers choose to leave a spare key to their cleaner.
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="fsp">
                    <div class="col">
                        <p class="fw-bold">
                            <a class="fc fw-bold" data-bs-toggle="collapse" href="#sp1" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <img class="me-2" src="~/images/faqs-rightpoint.png">
                            </a>
                            How I can register?
                        </p>
                        <div class="collapse mb-3" id="sp1">Test answer</div>
                        <p class="fw-bold">
                            <a class="fc fw-bold" data-bs-toggle="collapse" href="#sp2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <img class="me-2" src="~/images/faqs-rightpoint.png">
                            </a>
                            How much do service providers earn?
                        </p>
                        <div class="collapse mb-3" id="sp2">
                            The independent service providers who work with Helperland set their own payouts, ie they decide how much they earn per hour.
                        </div>
                        <p class="fw-bold">
                            <a class="fc fw-bold" data-bs-toggle="collapse" href="#sp3" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <img class="me-2" src="~/images/faqs-rightpoint.png">
                            </a>
                            What support do you offer the service providers?
                        </p>
                        <div class="collapse mb-3" id="sp3">
                            Our call center is available to service providers for any questions or problems regarding their bookings during office hours. Before a service provider receives orders, each individual partner receives an orientation session to familiarize themselves with the online platform and its profile.
                        </div>
                    </div>
                </div>

            </div>

        </section>


        <!---------------NEWSLETTER--------------------->
        <div class="newsletter justify-content-center mb-5">

            <h6 class="newsletter pb-2 text-center mt-lg-5">GET OUR NEWSLETTER</h6>
            <div class="d-flex justify-content-center gap-2">
                <input class="email" type="email" placeholder="YOUR EMAIL">
                <div class="submit">Submit</div>
            </div>
        </div>

        <!-----------------FOOTER------------------------->
        @Html.Partial("_footer")
        <div onclick="topFunction()" id="myBtn" title="Go to top"><img class="scroll ms-5" src="~/images/up.png"></div>

        <script src="~/js/mobilemenu.js"></script>
    </body>

</html>
}
