@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="~/css/priceStyle.css">
        <link rel="stylesheet" type="text/css" href="~/css/styles.css">
        <title>Prices | Helperland</title>
        <!-----------------BOOTSTRAP------------------->
        <link rel="stylesheet" type="text/css" href="~/css/mobilemenu.css">
    </head>
    <body>
        <!------------------NAVBAR------------------>
        @Html.Partial("_header")
        @Html.Partial("_login")
        <!------------------BACKGROUNDIMAGE------------>
        <img class="pt-5 priceshome" src="~/images/priceshome.png">

        <!---------------------PRICES------------------->
        <section class="pricebox mt-5 mb-5">
            <h3 class="fw-medium text-center">Prices</h3>
            <div class="d-flex text-center align-items-center justify-content-center pb-3">
                <div class="separator-border me-2"></div>
                <img src="~/images/separator.png">
                <div class="separator-border ms-2"></div>
            </div>
            <div id="pricebox" class="d-inline-flex flex-column mt-4">
                <h4 class="one-time fw-bold py-3">One Time</h4>
                <p class="twenty"><img src="~/images/euro.png"><span class="fw-bold">20</span>/hr</p>
                <p class="box-content">
                    <div><img class="me-2 mb-2 " src="~/images/check.png">Lower prices</div>
                    <div> <img class="me-2 mb-2" src="~/images/check.png">Easy online & secure payment</div>
                    <div> <img class="me-2" src="~/images/check.png">Easy amendment</div>
            </div>
        </section>

        <hr class="middle-line">

        <!---------------------EXTRA-SERVICES------------>
        <section class="extra-services mt-5 px-lg-5 px-3">
            <h3 class="fw-medium text-center">Extra services</h3>
            <div class="d-flex text-center align-items-center justify-content-center pb-3">
                <div class="separator-border me-2"></div>
                <img src="~/images/separator.png">
                <div class="separator-border ms-2"></div>
            </div>
            <div class="container mt-4 me-lg-5">
                <div class="row">
                    <div class="col ">
                        <div class="pt-4" id="border"><img src="~/images/p1.png"></div>
                        <p class="inside">Inside cabinets</p><p class="thirty fw-bold">30 minutes</p>
                    </div>
                    <div class="col">
                        <div class="pt-4" id="border"><img src="~/images/p2.png"></div>
                        <p class="inside">Inside fridge</p><p class="thirty fw-bold">30 minutes</p>
                    </div>
                    <div class="col">
                        <div class="p3 ps-4" id="border"><img src="~/images/p3.png"></div>
                        <p class="inside">Inside oven</p><p class="thirty fw-bold">30 minutes</p>
                    </div>
                    <div class="col">
                        <div class="pt-4" id="border"><img src="~/images/p4.png"></div>
                        <p class="inside">Laundry wash & dry</p><p class="thirty fw-bold">30 minutes</p>
                    </div>
                    <div class="col">
                        <div class="p5 pt-4" id="border"><img src="~/images/p5.png"></div>
                        <p class="inside">Interior windows</p><p class="thirty fw-bold">30 minutes</p>
                    </div>
                </div>
            </div>
        </section>

        <!---------------------CLEANING----------------->
        <section class="cleaning pt-5 mt-5">
            <h3 class="fw-medium text-center">What we include in cleaning</h3>
            <div class="d-flex text-center align-items-center justify-content-center pb-3">
                <div class="separator-border me-2"></div>
                <img src="~/images/separator.png">
                <div class="separator-border ms-2"></div>
            </div>
            <div class="container mt-4 mb-5">
                <div class="row ms-md-5">
                    <div class="col mb-3 ms-sm-0 ms-4">
                        <img class="mb-2" src="~/images/what1.png">
                        <h5>Bedroom and Living Room</h5>
                        <p><img class="me-2" src="~/images/vector-smart-object.png">Dust all accessible surfaces</p>
                        <p><img class="me-2" src="~/images/vector-smart-object.png">Wipe down all mirrors and glass fixtures</p>
                        <p><img class="me-2" src="~/images/vector-smart-object.png">Clean all floor surfaces</p>
                        <p><img class="me-2" src="~/images/vector-smart-object.png">Take out garbage and recycling</p>
                    </div>
                    <div class="col mb-3 ms-sm-0 ms-4">
                        <img class="mb-2" src="~/images/what2.png">
                        <h5>Bathroom</h5>
                        <p><img class="me-2" src="~/images/vector-smart-object.png">Wash and sanitize the toilet, shower, tub, sink</p>
                        <p><img class="me-2" src="~/images/vector-smart-object.png">Dust all accessible surfaces</p>
                        <p><img class="me-2" src="~/images/vector-smart-object.png">Wipe down all mirrors and glass fixtures</p>
                        <p><img class="me-2" src="~/images/vector-smart-object.png">Clean all floor surfaces</p>
                        <p><img class="me-2" src="~/images/vector-smart-object.png">Take out garbage and recycling</p>
                    </div>
                    <div class="col mb-3 ms-sm-0 ms-4">
                        <img class="mb-2" src="~/images/what3.png">
                        <h5>Kitchen</h5>
                        <p><img class="me-2" src="~/images/vector-smart-object.png">Dust all accessible surfaces</p>
                        <p><img class="me-2" src="~/images/vector-smart-object.png">Empty sink and load up dishwasher</p>
                        <p><img class="me-2" src="~/images/vector-smart-object.png">Wipe down all mirrors and glass fixtures</p>
                        <p><img class="me-2" src="~/images/vector-smart-object.png">Clean all floor surfaces</p>
                        <p><img class="me-2" src="~/images/vector-smart-object.png">Take out garbage and recycling</p>
                    </div>
                </div>
            </div>
        </section>

        <!--------------------WHY-HELPERLAND-------------->
        <section class="why-helperland mt-5 mb-5">
            <h3 class="fw-medium text-center">Why Helperland</h3>
            <div class="d-flex text-center align-items-center justify-content-center pb-3">
                <div class="separator-border me-2"></div>
                <img src="~/images/separator.png">
                <div class="separator-border ms-2"></div>
            </div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md mb-3 ms-2">
                        <h5 class="fw-bold">Experienced and vetted professionals</h5>
                        <p>
                            dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.
                        </p>
                        <h5 class="fw-bold">Dedicated customer service</h5>
                        <p>to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. you need.</p>
                    </div>
                    <div class="col-md mb-3 ms-2"><img src="~/images/the-best-img.png"></div>
                    <div class="col-md ms-2">
                        <h5 class="fw-bold">Every cleaning is insured</h5>
                        <p>
                            and seek to provide exceptional service and engage in proactive behavior. We‘d be happy to clean your homes.
                        </p>
                        <h5 class="fw-bold">Secure online payment</h5>
                        <p>Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                    </div>
                </div>
            </div>
        </section>

        <!---------------NEWSLETTER--------------------->
        <div class="newsletter justify-content-center mb-5">
            <h6 class="newsletter pb-2 text-center mt-lg-5">GET OUR NEWSLETTER</h6>
            <div class="d-flex justify-content-center gap-2 ">
                <input class="email" type="email" placeholder="YOUR EMAIL">
                <div class="submit">Submit</div>
            </div>
        </div>

        <!-----------------FOOTER------------------------->
        @Html.Partial("_footer")
        <div onclick="topFunction()" id="myBtn" title="Go to top"><img class="scroll ms-5" src="~/images/up.png"></div>

        <script src="~/js/mobilemenu.js"></script>
        <script src="~/js/script.js"></script>
    </body>
</html>
}
