@model Helperland.Models.User
@{
    ViewBag.Title = "Reset Password";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <title>Reset Password | Helperland</title>
    <style>
        .contact-us h3 {
            color: #4f4f4f;
            font-size: 36px;
        }

        .middle-line {
            color: #1d7a8c;
            margin: 0 10%;
        }

        .button {
            background-color: #146371;
            border: none;
            border-radius: 20px;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container text-center py-5">
        @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
        {
           
        <form class="resetpassword py-5">

            <a asp-action="Index" asp-controller="Home"><img src="~/images/smallhomelogo.png" class="p-2" style="background-color:#1d7a8c"></a>
            <input type="hidden" asp-for="UserId" />
            <h3 class="fw-medium">Contact us</h3>
            <div class="d-flex text-center align-items-center justify-content-center pb-3">
                <div class="separator-border me-2"></div>
                <img src="~/images/separator.png">
                <div class="separator-border ms-2"></div>
            </div>
            <label>New Password</label><br>
            <input class="mb-3 col-6 p-2" type="password" placeholder="Password" id="password" asp-for="Password"><br>
            <span class="text-danger" asp-validation-for="Password"></span><br />
            <label>Confirm Password</label><br>
            <input class="mb-3 col-6 p-2" type="password" placeholder="Confirm Password" id="confirmpassword" asp-for="ConfirmPassword">  <br>
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

            <div class="text-success">@TempData["success"]</div>
            <div class="text-danger">@TempData["error"]</div>

            <button type="submit" class="button">Save</button>

        </form>
        }
    </div>
    @*@using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post)) {
    <form asp-controller="Home" asp-action="ResetPassword">
        <input type="hidden" asp-for="UserId" />
        <div class="form-row mx-auto justify-content-center">
            <div class="form-group col-md-6">
                <label><b>Password</b></label>
                <input class="form-control newpassword1" asp-for="Password" id="inputpass1" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row mx-auto justify-content-center">
            <div class="form-group col-md-6">
                <label for="inputpass2"><b>Confirm Password</b></label>
                <input class="form-control newpassword2" id="inputpass2" asp-for="ConfirmPassword"
                       placeholder="Confirm Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="text-success form-row mx-auto justify-content-center pb-3">@ViewBag.Msg</div>
        <div class="form-row mx-auto justify-content-center">
            <div class="form-group">
                <button type="submit" class="btn btn-primary submit-btn mx-auto">Save</button>
            </div>
        </div>
    </form>
    }*@

</body>
</html>

    