@model IEnumerable<Helperland.Models.ServiceRequest>
@{
    <div class="col">
        <div class="tableabove navbar d-flex align-items-center">
            <div class="d-flex align-items-center"><p class="text1 fw-bold">Current Service Requests</p></div>
            <div class="d-flex align-items-center">
                <p class="button text-center">
                    <a href="book-a-service.html" class="px-3">Add new service request</a>
                </p>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Service Id<img class="ms-2" src="~/images/arrows.png"></th>
                    <th>Service Details<img class="ms-2" src="~/images/arrows.png"></th>
                    <th>Service Provider<img class="ms-2" src="~/images/arrows.png"></th>
                    <th>Payment<img class="ms-2" src="~/images/arrows.png"></th>
                    <th class="ps-5">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><button type="button" class="btn" data-toggle="modal" data-target="#myModal2">@item.ServiceId</button></td>
                        <td class="cs" id="cs" type="button" class="btn" data-toggle="modal" data-target="#myModal2">
                            <div class="fw-bold"><img class="me-2" src="~/images/calender.png">@item.ServiceStartDate</div>
                            <div class="ms-lg-0 ms-5">@item.ServiceHours</div>
                        </td>
                        <td></td>
                        <td class="price">€<span class="fw-bold">@item.SubTotal</span></td>
                        <td>
                            <button type="button" class="button mt-md-3 mt-2 px-3" data-toggle="modal" data-target="#exampleModal">
                                Reschedule
                            </button>
                            <button type="button" class="button mt-md-3 mt-2 px-3" data-toggle="modal" data-target="#exampleModal1" id="cancel">Cancel</button>
                        </td>
                    </tr>
                }
                @*<tr>
                    <td><button type="button" class="btn" data-toggle="modal" data-target="#myModal2">8470</button></td>
                    <td class="cs" id="cs" type="button" class="btn" data-toggle="modal" data-target="#myModal2">
                        <div class="details fw-bold"><img class="me-2" src="~/images/calender.png">28/02/2018  </div>
                        <div class="ms-lg-0 ms-5">12:00 - 18:00</div>
                    </td>
                    <td class="cs">
                        <img class="hat me-2" src="~/images/hat.png"><span>Lyum Watson</span>
                        <div class="star-rating">
                            <input id="star-5" type="radio" name="rating" value="star-5" />
                            <label for="star-5" title="5 stars">
                                <i class="active fa fa-star" aria-hidden="true"></i>
                            </label>
                            <input id="star-4" type="radio" name="rating" value="star-4" />
                            <label for="star-4" title="4 stars">
                                <i class="active fa fa-star" aria-hidden="true"></i>
                            </label>
                            <input id="star-3" type="radio" name="rating" value="star-3" />
                            <label for="star-3" title="3 stars">
                                <i class="active fa fa-star" aria-hidden="true"></i>
                            </label>
                            <input id="star-2" type="radio" name="rating" value="star-2" />
                            <label for="star-2" title="2 stars">
                                <i class="active fa fa-star" aria-hidden="true"></i>
                            </label>
                            <input id="star-1" type="radio" name="rating" value="star-1" />
                            <label for="star-1" title="1 star">
                                <i class="active fa fa-star" aria-hidden="true"></i>
                            </label>
                        </div>
                    </td>
                    <td class="price">€<span class="fw-bold">63</span></td>
                    <td>
                        <button type="button" class="button mt-md-3 mt-2 px-3" data-toggle="modal" data-target="#exampleModal">
                            Reschedule
                        </button>
                        <button type="button" class="button mt-md-3 mt-2 px-3" data-toggle="modal" data-target="#exampleModal1" id="cancel">Cancel</button>
                    </td>
                </tr>*@
            </tbody>
        </table>
        <div class="tablebelow navbar d-flex align-items-center">
            <div class="d-flex align-items-center">
                <!-------------------------entries------------------>
                <p class="left">
                    Show <span class="p-0">
                        <select class="entries table-dropdown" name="table-rows" id="table-rows">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </span> Entries
                </p>
            </div>
            <div class="d-flex align-items-center pb-2 gap-3 pe-3">
                <!---------------------pagination----------------->
                <nav aria-label="Page navigation example ">
                    <ul class="pagination pagination-circle pagination-sm">
                        <li class="page-item"><a class="page-link" href="#"><img src="~/images/group-36.png"></a></li>
                        <li class="page-item"><a class="page-link" href="#"><img src="~/images/keyboard-arrow.png"></a></li>
                        <li class="page-item"><a class="page-link circle circle-md border" href="#"><span>1</span></a></li>
                        <li class="page-item"><a class="page-link circle circle-md" href="#"><span>2</span></a></li>
                        <li class="page-item"><a class="page-link circle circle-md" href="#"><span>3</span></a></li>
                        <li class="page-item"><a class="page-link" href="#"><img class="right" src="~/images/keyboard-arrow.png"></a></li>
                        <li class="page-item"><a class="page-link" href="#"><img class="right" src="~/images/group-36.png"></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
}
