<header>
    <section id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent main-navigation">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img class="pb-2" src="~/images/smallhomelogo.png">
                </a>
                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="overlay d-flex d-lg-none"></div>
                <div class="d-lg-flex w-100 pb-3 pb-lg-0 sidebar" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto pb-3">
                        <li class="blue-btn nav-item text-center ms-xl-2">
                            <a class="nav-link text-light px-3" aria-current="page" href="#">Book a cleaner</a>
                        </li>
                        <li class="nav-item text-center ms-xl-2 ">
                            <a class="nav-link text-light px-3" aria-current="page" asp-controller="Home" asp-action="Price">Prices & Services</a>
                        </li>
                        <li class="nav-item text-center ms-xl-2">
                            <a class="nav-link text-light px-3" aria-current="page" href="#">Warranty</a>
                        </li>
                        <li class="nav-item text-center ms-xl-2">
                            <a class="nav-link text-light px-3" aria-current="page" href="#">Blog</a>
                        </li>
                        <li class="nav-item text-center active ms-xl-2">
                            <a class="nav-link text-light px-3" aria-current="page" asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </li>
                        <li class="blue-btn nav-item text-center ms-xl-2 me-2">
                            <a class="nav-link text-light px-3" aria-current="page" data-bs-toggle="modal" href="#exampleModalToggle">Login</a>
                        </li>
                        <li class="blue-btn nav-item text-center ms-xl-2 ">
                            <a class=" nav-link text-light px-3" aria-current="page" asp-controller="Home" asp-action="serviceproviderSignup">Become a Helper</a>
                        </li>
                        <li><hr class="dropdown-divider divider d-lg-none" style="color: #646464; height: 2px;"></li>
                        <li class="divider d-lg-none mt-3"><img src="~/images/fb.png" class="mx-5"><img src="~/images/ig.png"></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</header>