
@using Microsoft.AspNetCore.Http;
@{
    @if (Context.Session.GetString("User_id") == null)
    {
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent main-navigation">
                <div class="container-fluid ">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img class="ms-2 mt-1" src="~/images/homelogo.png">
                    </a>
                    <button class="navbar-toggler order-lg-0 order-1" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="overlay d-flex d-lg-none"></div>
                    <div class="d-lg-flex w-100 pb-3 pb-lg-0 sidebar" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="blue-btn nav-item text-center ms-xl-2 my-2">
                                <a class="nav-link text-light px-3" aria-current="page" asp-controller="Home" asp-action="BookService">Book a cleaner</a>
                            </li>
                            <li class="nav-item text-center ms-xl-2  my-2 ">
                                <a class="nav-link text-light px-3" aria-current="page" asp-controller="Home" asp-action="Price">Prices</a>
                            </li>
                            <li class="nav-item text-center ms-xl-2 my-2 ">
                                <a class="nav-link text-light px-3" aria-current="page" href="#">Our Guarantee  </a>
                            </li>
                            <li class="nav-item text-center ms-xl-2  my-2 ">
                                <a class="nav-link text-light px-3" aria-current="page" href="#">Blog</a>
                            </li>
                            <li class="nav-item text-center ms-xl-2  my-2 ">
                                <a class="nav-link text-light px-3" aria-current="page" asp-controller="Home" asp-action="Contact">Contact Us</a>
                            </li>
                            <li class="blue-btn nav-item text-center ms-xl-2 my-2 ">
                                <a class="nav-link text-light px-3" aria-current="page" data-bs-toggle="modal" href="#exampleModalToggle">Login</a>
                            </li>
                            <li class="blue-btn nav-item text-center ms-xl-2 my-2">
                                <a class=" nav-link text-light px-3" aria-current="page" asp-controller="Home" asp-action="serviceproviderSignup">Become a Helper</a>
                            </li>
                            <li><hr class="dropdown-divider divider d-lg-none" style="color: #646464; height: 2px;"></li>
                            <li class="divider d-lg-none mt-3"><img src="~/images/fb.png" class="mx-5"><img src="~/images/ig.png"></li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown me-2 order-lg-1 order-0">
                    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/ga.png">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">
                                <img class="me-1" src="~/images/india.png">
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <img class="me-1" src="~/images/us.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    }
    else
    {
        <header>
            <section id="navbar">
                <nav class="navbar navbar-expand-lg navbar-light bg-transparent main-navigation">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="Homepage.html">
                            <img class="pb-2" src="~/images/homelogo.png">
                        </a>
                        <img class="mx-lg-2 mb-2 d-lg-none" src="~/images/notification.png">
                        <button class="navbar-toggler" type="button">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="overlay d-flex d-lg-none"></div>
                        <div class="d-lg-flex w-100 pb-3 pb-lg-0 sidebar" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto pb-3">
                                <div class="d-lg-none px-3 pt-3" style="color:#4f4f4f;">Warm welcome,<div class="fw-bold">Customer</div></div>
                                <li><hr class="dropdown-divider divider d-lg-none" style="color: #646464; height: 2px;"></li>

                                @if (Context.Session.GetInt32("Usertype_id") == 1)
                                {
                                    <ul class="nav nav-pills flex-column d-lg-none mobo-menu">

                                        <li class="nav-item">
                                            <a class="nav-link px-3" asp-action="sdashboard" asp-controller="Home">Overview</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-3" asp-action="shistory" asp-controller="Home">Completed Service Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-3" data-toggle="pill" href="#cview">Calender View</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-3" asp-action="favouritepros" asp-controller="Home">Favourite Pros</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-3" data-toggle="pill" href="#invoices">Invoices</a>
                                        </li>
                                    </ul>
                                    <li class="nav-item text-center ms-xl-2 d-lg-none">
                                        <a class="nav-link px-3" asp-action="settings" asp-controller="Home">My Setting</a>
                                    </li>
                                    <li class="nav-item text-center ms-xl-2 d-lg-none">
                                        <a class="nav-link text-light px-3" asp-action="Logout" asp-controller="Home">Logout</a>
                                    </li>
                                    <li><hr class="dropdown-divider divider d-lg-none" style="color: #646464; height: 2px;"></li>

                                    <li class="blue-btn nav-item text-center ms-xl-2">
                                        <a class="nav-link text-light px-3" aria-current="page" asp-action="BookService" asp-controller="Home">Book a cleaner</a>
                                    </li>
                                }
                                else
                                {
                                    <ul class="nav nav-pills flex-column d-lg-none mobo-menu">

                                        <li class="nav-item">
                                            <a class="nav-link px-3" asp-action="SPDashboard" asp-controller="Home">Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-3" asp-action="SPNewRequest" asp-controller="Home">New Requests</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-3" asp-action="SPUpcomingServices" asp-controller="Home">Upcoming Services</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-3" asp-action="SPServiceHistory" asp-controller="Home">Service History</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-3" asp-action="BlockCustomer" asp-controller="Home">Block Customer</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-3" asp-action="SPRatings" asp-controller="Home">My Ratings</a>
                                        </li>
                                    </ul>
                                    <li class="nav-item text-center ms-xl-2 d-lg-none">
                                        <a class="nav-link px-3" asp-action="ServiceProviderSettings" asp-controller="Home">My Setting</a>
                                    </li>
                                    <li class="nav-item text-center ms-xl-2 d-lg-none">
                                        <a class="nav-link text-light px-3" asp-action="Logout" asp-controller="Home">Logout</a>
                                    </li>
                                    <li><hr class="dropdown-divider divider d-lg-none" style="color: #646464; height: 2px;"></li>
                                }

                                <li class="nav-item text-center ms-xl-2 ">
                                    <a class="nav-link text-light px-3" aria-current="page" href="price.html">Prices & Services</a>
                                </li>
                                <li class="nav-item text-center ms-xl-2">
                                    <a class="nav-link text-light px-3" aria-current="page" href="#">Warranty</a>
                                </li>
                                <li class="nav-item text-center ms-xl-2">
                                    <a class="nav-link text-light px-3" aria-current="page" href="#">Blog</a>
                                </li>
                                <li class="nav-item text-center active ms-xl-2">
                                    <a class="nav-link text-light px-3" aria-current="page" href="contact.html">Contact Us</a>
                                </li>
                                <li><hr class="dropdown-divider divider d-lg-none" style="color: #646464; height: 2px;"></li>
                                <li class="divider d-lg-none mt-3"><img src="~/images/fb.png" class="mx-5"><img src="~/images/ig.png"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="vertical-line mx-2 mb-2 d-lg-block d-none"></div>
                    <img class="mx-lg-2 mb-2 d-lg-block d-none" src="~/images/notification.png">
                    <div class="vertical-line mx-2 mb-2 d-lg-block d-none"></div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item bg-transparent" href="#">Welcome <br><div class="fw-bold">@Context.Session.GetString("username")</div> </a>
                        </li>
                        <li> <hr class="dropdown-divider"> </li>

                        <div class="nav flex-column nav-pills me-3 profile-dropdown" id="v-pills-tab" role="tablist" aria-orientation="vertical">


                            @if (Context.Session.GetInt32("Usertype_id") == 1)
                            {
                                <a style="text-decoration: none;" class="ps-3" asp-action="sdashboard" asp-controller="Home">Dashboard</a>
                                <a class="nav-link" id="v-pills-mysettings-tab" asp-action="settings" asp-controller="Home" role="tab" aria-controls="v-pills-css" aria-selected="false">My Settings</a>
                            }
                            else
                            {
                                <a style="text-decoration: none;" class="ps-3" asp-action="SPDashboard" asp-controller="Home">Dashboard</a>
                                <a class="nav-link" id="v-pills-mysettings-tab" asp-action="ServiceProviderSettings" asp-controller="Home" role="tab">My Settings</a>
                            }
                            <a style="text-decoration: none;" class="ps-3" data-bs-toggle="modal" data-bs-target="logout">Logout</a>
                        </div>
                    </div>=
                </nav>
            </section>
        </header>

        <div class="modal fade" id="logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center p-3">
                        <img src="images/green-tick.png" class="mb-4" style="height: 50px; width: 50px;">
                        <h5 class="mb-4">You will be logged out from the sysytem, Click Ok button to proceed.</h5> 
                        <a class="button px-5 py-2" style="text-decoration: none; color: #fff " asp-action="Logout" asp-controller="Home">Ok</a>
                    </div>
                </div>
            </div>
        </div>
    }
    @*@section Scripts
{
        <script>
            $(function () {
                debugger;
           var r = '@TempData["message"]';
           if (r.length>0)
           {
                $('#logout').modal('show');
           }
        });
        </script>
    }*@

}

